[submodule "vendor/org-mode"]
	path = vendor/org-mode
	url = git://repo.or.cz/org-mode.git
[submodule "vendor/yasnippet"]
	path = vendor/yasnippet
	url = git://github.com/mig/yasnippet.git
[submodule "vendor/slime"]
	path = vendor/slime
	url = git://git.boinkor.net/slime.git
[submodule "vendor/pivotal"]
	path = vendor/pivotal
	url = git://github.com/jxa/pivotal-tracker.git
